body {
background-color: #0dcaf0;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title>h1 {
    color: rgb(255, 64, 0)
}

#photo-rounded {
    height: 400px;
    width:  400px;
    border: 0px;
    border-radius: 200px;
}

a {
    color:rgb(0, 0, 0);
}

